doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(class='button' href='/upload') Upload
    |
    |
    a(class='button' href='/create-img') Create img
    block content
