extends layout

block content
    h1= title
    p Welcome to form
    form(method='post', enctype='multipart/form-data')
        input(type='text', name='fileName')
        input(type='file', name='newImg')
        input(type='submit', name='saveFile', value='Upload File')
